/* ==========================
1. Reset CSS
============================= */
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ==========================
2. General
============================= */
body {
	background-color: #fff;
	color: #666;
	font-family: 'Lato', sans-serif;
	font-size:15px;
	line-height:24px;
}
html, body {
	width: 100%;
	height: 100%;
}
h1 {
    font-family: 'Lato', sans-serif;
    font-size: 75px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 70px;
}
h2{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    margin: 0;
}
h3, h4, h5 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
.mtop60{
	margin-top:60px;
}
a {
	color: #f00;
	text-decoration: none;
}
a:hover,
a:focus {
	color: #f00;
	text-decoration: underline;
}
.btn-primary {
	color: #f00;
	background-color: #fff;
	border-color: #f00;
	border-radius: 0px;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
	color: #fff;
	background-color: #f00;
	border-color: #f00;
}
.section {
	padding:40px 0;
}
.title{
	text-align:center;
	margin-bottom: 70px;
}
.title-section{
	text-align:center;
	font-size:30px;
	font-family: 'Lato', sans-serif;
	color:#666;
	font-weight: 900;
}
.subtitle{
	max-width:500px;
	margin:0 auto;
	font-size:16px;
	font-family: 'Merriweather', serif;
	color:#999;
}
.separator_wrapper{
	margin-top:10px;
	margin-bottom:10px;
}
.separator_first_circle{
	display:inline-block;
	width: 24px;
	height: 24px;
	border:1px solid #ccc;
    -moz-border-radius:20px;  
    -webkit-border-radius:20px;  
    border-radius:20px;
}
.separator_second_circle{
	float:left;
	width:20px;
	height:20px;
	background-color:#01994d;
	border:2px solid #fff;
    -moz-border-radius:4px;  
    -webkit-border-radius:4px;  
    border-radius:4px;
}
.separator_second_circle_grey{
	width: 22px;
	height: 22px;
	background-color:#f00;
	border: 8px solid #FFFFFF;
    -moz-border-radius:20px;  
    -webkit-border-radius:20px;  
    border-radius:20px;
}
.separator_wrapper::after, .separator_wrapper::before {
	background-color: #ccc;
	display: inline-block;
	vertical-align: middle;
	content: "";
	width: 150px;
	height: 1px;
	margin-top: -15px;
	margin-right: -4px;
	margin-left: -4px;
}
a.a-email{
	color:#666;
}
a.a-email:hover{
	color:#f00;
}

input.form-control,
textarea { margin-bottom: 20px }
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: transparent;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
    border-color: #666;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
blockquote {
	padding: 10px 20px;
	margin: 0 0 20px;
	font-size: 17.5px;
	background: #F2F2F2;
	border-left: 5px solid #f00 !important;
	border: 0;
}

/* ==========================
3. Banner Rotator
============================= */
.section.banner{
	padding:0;
	width: 100%;
	height: 100%;
	min-height:100%;
	display:block;
	position:relative;
}
.wrap-splash{
	margin-top: 20px;
}
.splash-container{
	width:320px;
	height:100px;
	display:block;
	margin:0 auto;
	text-align:center;
}
.wrap-splash .logo {
	text-align: left;
	padding: 0px 0 0 30px;
}
.wrap-splash .logo  h1{
	text-align: center;
}
.list-style{

}
.list-style .item{
	text-align:center;
}
.list-style .item .gambar{
	width:323px;
	height:279px;
	display:block;
	background:url('../images/device-blank.png') center center no-repeat;
	padding: 24px 0 0 3px;
	margin: 0 auto;
}
.list-style h3{
	color:#666;
	text-transform:uppercase;
	font-size:15px;
	font-family: 'Lato', sans-serif;
	font-weight:900;
}
.list-style .item a{
	text-decoration:none;
}
.list-style .item a:hover h3{
	color:#f00;
	text-decoration:none;
}
.wrap-circle{
	width:100%;
	position:absolute;
	z-index:120;
	text-align:center;
}
.wrap-overlay{
	width:100%;
	position:absolute;
	z-index:110;
	background:rgba(255, 255, 255, .5);
	display:block;
	top:0;
	bottom:0;
}
.circle-1{
	width:320px;
	height:320px;
	display:block;
	border: 1px solid #fff;
	border-radius:50%;
	margin:0 auto;
	margin-top: 10%;
	padding:10px;
}
.circle-2{
	width:300px;
	height:300px;
	background:#fff;
	border-radius:50%;
	margin:0 auto;
}
.logo{
	text-align:left;
	padding: 117px 0 0 32px;
	color:#666;
}
.logo h2{
	font-size:30px;
	font-weight:normal;
	margin-top: 0;
	margin-bottom: 0;
	font-family: 'Lato', sans-serif;
}
.logo h2 span{
	color:#f00;
	font-weight: 900;
}
.logo h3{
	font-size:18px;
	margin-top: 0;
	margin-bottom: 0;
	font-family: 'Merriweather', serif;
	font-weight: 300;
	font-style:italic
}
.logo .roles {
	height: 28px;
	overflow: hidden;
	margin-top: 7px;
	margin-bottom: 0;
}
.logo div {
	font-size:20px;
	line-height: 30px;
	font-family: 'Merriweather', serif;
	font-weight: 300;
	font-style:italic;
	height: 28px;
	-webkit-transition: margin-top 0.5s ease-in-out;
	-moz-transition: margin-top 0.5s ease-in-out;
	-o-transition: margin-top 0.5s ease-in-out;
	transition: margin-top 0.5s ease-in-out;
	display: block;
}
.section.banner2{
	position:relative;
	width: 100%;
	height: 100%;
	color: #FFF;
	background: #fff url('../images/slide-1.jpg') center center no-repeat;
	background-attachment: fixed;
	background-size: auto 100%;
	position: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

/* ==========================
4. Navbar/Navigation
============================= */
.main-menu {
	min-height: 65px;
}
.navbar-default {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	border-radius: 0px;
}
.main-menu .navbar-nav > li > a {
	color: #666;
	font-weight:bold;
	text-transform:uppercase;
	padding-top: 25px;
	padding-bottom: 25px;
}
.main-menu .navbar-nav > li > a:hover,
.main-menu .navbar-nav > li > a:focus {
	color: #f00;
	background-color: transparent;
}
.main-menu .navbar-nav > li.active > a{
	color: #f00;
	background-color: transparent;
}
.main-menu .navbar-nav > .active > a,
.main-menu .navbar-nav > .active > a:hover,
.main-menu .navbar-nav > .active > a:focus {
	color: #f00;
	background-color: transparent;
}
.navbar-brand .logo {
	text-align: left;
	padding: 0px 0 0 0px;
	color: #666;
}
.navbar-brand .logo h2 {
	font-size: 20px;
}
.navbar-brand .logo div {
	font-size: 14px;
}
.main-menu.tiny{
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:5;
}
.navbar-toggle {
	border: none;
}
.navbar-toggle .icon-bar {
	height: 3px;
}
.main-menu .navbar-toggle:hover,
.main-menu .navbar-toggle:focus {
	background-color: transparent;
}
.main-menu .navbar-toggle:hover .icon-bar,
.main-menu .navbar-toggle:focus .icon-bar{
	background-color: #f00;
}

/* ==========================
5. About Section
============================= */
.box-resume{
	position:relative;
	border:1px solid #ccc;
	padding:30px;
	margin-top:45%;
}
.box-resume.info{
	position:relative;
	border:1px solid #ccc;
	padding:10px;
	margin-top:0;
}
.no-border > tbody > tr > th,
.no-border > tbody > tr > td{
	border-top: 0;
}
.box-resume ul{
	margin:0;
	padding:0;
}
.box-resume ul li{
	margin:8px 0;
	padding:0;
	list-style:none;
}
.box-resume ul li strong{
	width:90px;
	display: inline-block;
}
.download-resume{
	padding:10px 15px;
	background:#fff;
	border:1px solid #f00;
	color:#f00;
	text-align:center;
}
.box-resume.info .center-bottom {
	margin-bottom: -33px;
}
.center-top{
	text-align:center;
	margin-bottom:40px;
	margin-top:-20%;
}
.center-top img{
	margin-top:-60%;
	-moz-border-radius:50%;  
	-webkit-border-radius:50%;  
	border-radius:50%;
}
.center-bottom{
	text-align:center;
	margin-bottom:-50px;
	margin-top:40px;
}
.leads{
	margin-top:50px;
	font-weight:bold;
}
.we-do{
	margin-top:60px;
}
.we-do .item{
	margin-top:20px;
}
.we-do .icon{
	padding:20px 0 0 0;
	text-align:center;
}
.we-do .icon .fa{
	font-size:50px;
	color:#f00;
}
.we-do .icon p{
	font-weight:bold;
	margin-top:10px;
}
.we-do .desc{
	border-left:1px solid #ccc;
	padding:5px 0 10px 40px;
	position:relative;
}
.we-do .desc h4{
	font-weight:bold;
	font-size:16px;
}
.we-do .desc:before{
	content:'';
	position:absolute;
	top:0;
	left:-5px;
	width:10px;
	height:10px;
	-moz-border-radius:20px;  
	-webkit-border-radius:20px;  
	border-radius:20px;
	background:#ccc;
}

/* 5.1. Skill */
.skill-title{
	display:inline-table;
	font-size:14px;
}
.persen{
	float:right;
}
.progress {
	height: 8px;
	margin-bottom: 20px;
	overflow: hidden;
	background-color: #FFFFFF;
	border-radius: 1px;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-bottom: 1px solid #ccc;
}
.progress-bar {
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	background-color: #cccccc;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: width .6s ease;
	   -o-transition: width .6s ease;
		  transition: width .6s ease;
}
.circular-bar {
	text-align: center;
	margin-bottom:40px;
}
.circular-bar .circular-bar-content {
	margin-bottom: 0px;
	margin-top: 20px;
	text-align: center;
}
.circular-bar .circular-label-content {
	margin-bottom: 44px;
	margin-top: -65px;
	text-align: center;
	font-size: 22px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}
.circular-bar .circular-bar-content{
	display: block;
	font-size:14px;
	color:#666;
}
.circular-bar .circular-bar-content label {
	display: block;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.25rem;
	line-height: 20px;
}

/* 5.2. Stats */
.stats{
	
}
.stat-item{
	text-align:center;
}
.stat-item h3 {
	font-size:30px;
	padding: 10px;
}
.stat-item h4 {
	display: block;
	padding: 10px;
	margin-top: 15px;
	border:1px solid #ccc;
	font-size: 14px;
	font-weight: 400;
}
.stat-item:hover h3 {
	color: #000;
}
.stat-item:hover h4 {
	background:#ccc;
	color: #000;
}

/* 5.3. Education */
.title2{
	font-size:16px;
	font-weight:bold;
	margin-bottom: 40px;
}
.title2 .separator_first_circle{
	margin-right: 10px;
	vertical-align: middle;
}
.years{
	padding:50px 0 0 0;
}
.years .item{
	margin-top: 50px;
}
.years .year{
	border:1px solid #ccc;
	text-align:center;
	font-weight: bold;
	font-size: 16px;
	margin-top: -18px;
}
.years .year hr{
	margin-top: 4px;
	margin-bottom: 4px;
	border: 0;
	border-top: 1px solid #ccc;
}
.years .desc h4{
	font-weight:bold;
	font-size:16px;
	margin-top: 4px;
	margin-bottom: 4px;
}
.years .desc .subtitle{
	font-size:14px;
	font-style:italic;
	margin-bottom:10px;
}
.years .desc{
	border-left:1px solid #ccc;
	padding:0px 0 10px 40px;
	position:relative;
}
.years .desc h4{
	font-weight:bold;
	font-size:16px;
}
.years .desc:before{
	content:'';
	position:absolute;
	top:0px;
	left:-5px;
	width:10px;
	height:10px;
	-moz-border-radius:20px;  
	-webkit-border-radius:20px;  
	border-radius:20px;
	background:#ccc;
}
.years2{
	padding:50px 0 0 0;
}
.years2 .item{
	margin-top: 0px;
}
.years2 .year{
	border:1px solid #ccc;
	text-align:center;
	font-weight: bold;
	font-size: 16px;
	margin-top: -18px;
}
.years2 .year hr{
	margin-top: 4px;
	margin-bottom: 4px;
	border: 0;
	border-top: 1px solid #ccc;
}
.years2 .desc h4{
	font-weight:bold;
	font-size:16px;
	margin-top: 4px;
	margin-bottom: 4px;
}
.years2 .desc .subtitle{
	font-size:14px;
	font-style:italic;
	margin-bottom:10px;
	margin:0;
}

.years2 .desc{
	border-left:1px solid #ccc;
	padding:0px 0 10px 40px;
	position:relative;
}
.years2 .desc.education{
	margin-left: 10px;
}
.years2 .desc h4{
	font-weight:bold;
	font-size:16px;
}
.years2 .desc:before{
	content:'';
	position:absolute;
	top:0px;
	left:-5px;
	width:10px;
	height:10px;
	-moz-border-radius:20px;  
	-webkit-border-radius:20px;  
	border-radius:20px;
	background:#f00;
}

/* 5.4. Experience */
.experience{
	border: 0px;
	background: none;
	box-shadow: none;
	padding: 10px 0px;
}
.panel-education > .panel-heading {
  color: #333;
  background-color: transparent;
  border-color: #ddd;
}
.panel-group .panel-heading + .panel-collapse > .panel-body{
  border-top: 0;
}
.experience a{
	color:#666;
	text-decoration:none;
}
.experience a:hover{
	text-decoration:none;
}
.experience a:before{
	font-family: FontAwesome;
	content: "\f068";
	margin-right:10px;
}
.experience a.collapsed:before{
	font-family: FontAwesome;
	content: "\f067";
	margin-right:10px;
}
.experience a{
	width: 100%;
	margin: 0px;
	border-radius: 0px;
	border: 0px;
	padding: 0px 0px;
	display:block;
}
.experience a:hover{
	background: none;
	color: #333;
	border: 0px;
}
.experience .date{
	width: 150px;
}
.experience p {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 0px;
}
.experience .job{
	padding-left: 20px;
	display: block;
}
.experience .arrow-down{
	vertical-align: middle;
	font-size: 2em;
}

/* ==========================
6. Services Section
============================= */
.servbox{
	margin:10px 0;
	padding:20px 10px;
}
.servbox:hover{
	background:#f5f5f5;
}
.servbox .fa{
	font-size:25px;
	float:left;
	margin:0 15px 0 0;
	width:30px;
}
.servbox .desc{
	float:left;
	width:70%;
}
.servbox h4{
	font-size:14px;
	font-weight:bold;
	margin:0 0 10px 0;
	text-transform:uppercase;
}
.servbox p{
	color:#999;
}

/* ==========================
7. Testimony Section
============================= */
.testimony{
	background:#666;
	color:#fff;
}
.testimony .title {
	text-align: center;
	margin-bottom: 50px;
}
.testimony .title-section {
	color:#fff;
}
.testimony .item{
	text-align: center;
}
.carousel-inner {
  min-height: 200px;
}
.carousel-indicators {
	bottom: 0px;
}

/* ==========================
8. Work Section
============================= */
.r-item{
	position: relative;
	overflow: hidden;
	margin-top:20px;
}
.r-item a, .r-item a img{
	display: block;
	max-width: 100%;
	-webkit-transform: scale(1,1);
	-ms-transform: scale(1,1);
	        transform: scale(1,1);
	-webkit-transition-timing-function: ease-in;
	        transition-timing-function: ease-in;
	-webkit-transition-duration: 250ms;
	        transition-duration: 250ms;
	cursor: pointer;
	-webkit-transition: 0.4s all linear;
	        transition: 0.4s all linear;
}
.r-item a:hover img {
	-webkit-transform: scale(1.05,1.07);
	-ms-transform: scale(1.05,1.07);
	        transform: scale(1.05,1.07);
	-webkit-transition-timing-function: ease-out;
	        transition-timing-function: ease-out;
	-webkit-transition-duration: 250ms;
	        transition-duration: 250ms;
}
.r-item a .project-info {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	background: rgba(0,0,0,0.5);
	padding-top: 40%;
	text-align: center;
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transition: all ease .25s;
	        transition: all ease .25s;
}
.r-item a .project-info .project-details {
	position: relative;
	top:-30px;
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transition: all ease .25s;
	        transition: all ease .25s;
	width: 100%;
	color:#fff;
}
.r-item a .project-info .project-icon {
	position: relative;
	top:-30px;
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transition: all ease .25s;
	        transition: all ease .25s;
	width: 100%;
	color:#fff;
}
.r-item a .project-info .project-icon .fa {
	font-size:30px;
}
.r-item a .project-info .details {
	position: relative;
	bottom:-30px;
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transition: all ease .25s;
	        transition: all ease .25s;
	width: 100%;
	color:#fff;
}
.r-item a .project-info h5 {
	position: relative;
	display: inline-block;
	margin-bottom: 15px;
	font-weight: bold;
	text-transform: uppercase;
}
.r-item a:hover .project-info {
	filter: alpha(opacity=100);
	opacity: 1;
}
.r-item a:hover .project-details {
	filter: alpha(opacity=100);
	opacity: 1;
	top: 0;
}
.r-item a:hover .project-icon {
	filter: alpha(opacity=100);
	opacity: 1;
	top: -10px;
}
.r-item a:hover .details {
	filter: alpha(opacity=100);
	opacity: 1;
	bottom: 0;
}
.r-item a:hover .button {
	filter: alpha(opacity=100);
	opacity: 1;
	bottom: -50px;
}
.r-item .separator_wrapper::after, .r-item .separator_wrapper::before {
	background-color: #ccc;
	display: inline-block;
	vertical-align: middle;
	content: "";
	width: 50px;
	height: 1px;
	margin-top: -15px;
	margin-right: -4px;
	margin-left: -4px;
}


/* ==========================
8. Contact Section
============================= */
.form-bedjo p {
  margin: 0 0 14px;
}
.send {
  margin: 10px 0 14px;
  text-align:center
}
.maps-wraper{
	position:relative;
}
.maps{
	width:100%;
	height:350px;
	display:block;
	background:#ccc;
}
.maps-address{
	border:1px solid #ccc;
	padding:20px 0;
	display:block;
	text-align:center;
	margin-bottom:40px;
}
.maps-address .fa{
	font-size:22px;
	margin-right:10px;
}

/* 11.1. Google Map */
#google-container {
	position: relative;
	width: 100%;
	height: 500px;
	background-color: #fff;
}
#cd-google-map {
	position: relative;
	overflow: hidden;
}
#cd-google-map .col-md-12 {
	padding: 0;
}
#cd-google-map .address {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	padding: 20px 0;
	background-color: rgba(5, 5, 5, 0.9);
}
#cd-google-map .address .address-item {
	position: relative;
	padding-left: 44px;
}
#cd-google-map .address .address-item i {
	width: 24px;
	height: 24px;
	position: absolute;
	top: 0;
	left: 4px;
	color: #fcfcfc;
	font-size: 22px;
	text-align: center;
	line-height: 24px;
}
#cd-zoom-in,
#cd-zoom-out {
	height: 32px;
	width: 32px;
	cursor: pointer;
	margin-left: 10px;
	background-color: rgba(102, 102, 102, 0.9);
	background-repeat: no-repeat;
	background-size: 32px 64px;
	background-image: url("../images/cd-icon-controller.svg");
}
.no-touch #cd-zoom-in:hover,
.no-touch #cd-zoom-out:hover {
	background-color: #666;
}
#cd-zoom-in {
	background-position: 50% 0;
	margin-top: 10px;
	margin-bottom: 1px;
}
#cd-zoom-out {
	background-position: 50% -32px;
}

/* 11.2. Connect */
.connect{
	background: #fff url('../images/1680px768.jpg') 0% 0% fixed repeat;
	color: #fff;
	margin-top: 0px;
	padding-top: 100px;
	padding-bottom: 100px;
	border:0;
	text-align: center;
}
.connect a, .connect a:hover{
	text-decoration:none;
}
.connect .item{
	width:130px;
	height:130px;
	border-radius:50%;
	background:#fff;
	color: #ccc;
	display:inline-table;
	margin:10px 10px;
}
.connect .item:hover{
	background:#f00;
	color: #fff;
}
.connect .item .fa{
	font-size: 60px;
	margin-top: 35px;
}
.ftex{
	text-align:center;
	padding:5px 0;
	
}
.ftex .fa{
	color:#f00;
}


@media (max-width: 768px) {
	.separator_wrapper::after, .separator_wrapper::before {
		width: 70px;
	}
}


